matrix:
    include:
       - language: julia
         julia: 0.6
         os: linux
         dist: trusty
         sudo: false
       - language: julia
         julia: nightly
         os: linux
         dist: trusty
         sudo: false
       - language: julia
         julia: 0.6
         os: linux
       - language: julia
         julia: nightly
         os: linux

       - language: julia
         julia: 0.6
         os: osx
       - language: julia
         julia: nightly
         os: osx

    allow_failures:
       - julia: nightly

notifications:
    email: false
